{{>settingsheader}}
            <h1 class="page-header">Settings - Users</h1>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>[<span id="selectall" class="glyphicon glyphicon-asterisk" title="select all"></span>] [<span id="selectnothing" class="glyphicon glyphicon-unchecked" title="select nothing"></span>] [<span id="selectinvert" class="glyphicon glyphicon-minus" title="invert selection"></span>]</th>
                <th>User ID</th>
                <th>Name</th>
                <th>Permissions</th>
                <th class="text-right"><a href="{{#route}}/settings/users/add{{/route}}">add</a></th>
            </tr>
        </thead>
        <tbody>
        {{#users}}
            <tr>
                <td>
                    <input class="netmrg-check-user" type="checkbox" name="checkboxes[]" value="{{id}}" data-csrftoken="{{csrftoken}}">
                </td>
                <td>
                    {{user}}
                </td>
                <td>
                    {{fullname}}
                </td>
                <td>
                    {{permit}}
                </td>
                <td class="text-right">
                    <a href="{{#route}}/settings/users/edit?uid={{id}}{{/route}}" style="margin-right:10px;"><span class="glyphicon glyphicon-pencil" title="edit user"></span></a>
                    <a href="{{#route}}/settings/users/delete?uid={{id}}{{/route}}" data-csrftoken="{{csrftoken}}" data-confirmButton="Yes, delete" data-cancelButton="no" data-text="Do you really want to delete <strong>{{user}}</strong>?" data-okButtonClass="btn-danger" class="confirm"><span class="glyphicon glyphicon-remove alert-danger" title="delete user"></span></a>
                </td>
            </tr>
        {{/users}}
        </tbody>
    </table>
    {{sumusers}} Users
    <hr style="border-bottom: 1px solid #EEE;">
    <a id="batchdelete" href="{{#route}}/settings/users/delete{{/route}}">Batch delete selected users</a>
</div>

<script>
    $(".confirm").confirm({
        title: 'Confirmation',
        post: true
    });

    $("#batchdelete").confirm({
        title: 'Confirmation',
        confirm: function() {
            var delids = $('.netmrg-check-user').map(
                    function(k, v) {
                        if($(v).prop('checked')) {
                            return $(v).prop('value');
                        }
                    }
            );
            if(delids.length < 1) {
                alert('nothing selected');
                return false;
            }
            var form = $('<form method="post" class="hide" action="{{#route}}/settings/users/delete{{/route}}"></form>');
            var z = $('.netmrg-check-user').first().data('csrftoken');
            if (z) {
                var csrf = $('<input type="hidden" name="csrftoken" value="' + z + '">');
                form.append(csrf);
            }
            var ids = $('<input type="hidden" name="delids" value="' + delids.get().join(',') + '">');
            form.append(ids);
            $("body").append(form);

            form.submit();
            return false;
        }
    });


    $(function() {
        $('#selectall').click(function() {
            $('.netmrg-check-user').prop('checked', true);
        });
        $('#selectnothing').click(function() {
            $('.netmrg-check-user').prop('checked', false);
        });
        $('#selectinvert').click(function() {
            $('.netmrg-check-user').click();
        });
    });
</script>

{{>settingsfooter}}
