{{> header }}
<div class="alert alert-danger text-center"><h1><span class="label label-danger">403</span> Forbidden</h1></div>

<div class="container-fluid text-center text-warning">
    <span class="glyphicon glyphicon-flash"></span>
The force is weak in this one!
</div>

<div class="container-fluid text-center">
    Please use the back-button of your browser or continue <a href="{{#route}}/login{{/route}}">clicking here</a>.
</div>

{{>pagefooter}}
