<h1 class="page-header">{{actiontext}}</h1>
<form class="form-horizontal" role="form" method="post" action="{{#route}}{{actionroute}}{{/route}}">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="name" id="name" placeholder="Name" value="{{graph.name}}">
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="title" id="title" placeholder="Title" value="{{graph.title}}">
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Comment</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="comment" id="comment" placeholder="Comment" value="{{graph.comment}}">
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Vertical Label</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="verticallabel" id="verticallabel" placeholder="Vertical Label" value="{{graph.verticallabel}}">
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Width</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="width" id="width" placeholder="600" value="{{graph.width}}">
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Height</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="height" id="height" placeholder="100" value="{{graph.height}}">
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Base value</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="base" id="base" placeholder="1000" value="{{graph.base}}">
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Minimum value</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="min" id="min" placeholder="U" value="{{^graph.min}}U{{/graph.min}}{{graph.min}}">
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Maximum value</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="max" id="max" placeholder="U" value="{{^graph.max}}U{{/graph.max}}{{graph.max}}">
        </div>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="hidelegend" id="hidelegend"{{hidelegend}}> Hide Legend
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="logarithmic" id="logarithmic"{{logarithmic}}> Use Logarithmic Scaling
        </label>
    </div>
    <input type="hidden" name="csrftoken" value="{{csrftoken}}">
    <input type="hidden" name="id" value="{{graph.id}}">
    <input type="hidden" name="type" value="{{graphtype}}">
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{actiontext}}</button>
</form>
<p class="text-center">
    <a href="#" onclick="history.back();return false;">Abort, go back</a>
</p>

