<div id="footer">
    <div class="container">
        <p class="text-muted text-center">{{#image}}netmrg-logo-small.png{{/image}} <a href="https://github.com/MarcusSchwarz/netmrg2" target="_blank">NetMRG2</a> &copy; 2003 - 2014</p>
    </div>
</div>
