<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NetMRG2 - {{title}}</title>
    <link rel="stylesheet" href="{{__tpl_webroot}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{__tpl_webroot}}/css/dashboard.css">
    <!--link rel="stylesheet" href="include/netmrg.css" -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{__tpl_companylink}}">{{__tpl_companyname}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {{#__tpl_isloggedin}}
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="{{#route}}/preferences{{/route}}"><bold class="username">{{__tpl_username}}'s</bold> Profile</a></li>
                {{/__tpl_isloggedin}}
                <li><a href="#">Help</a></li>
                <li><a href="{{#route}}/about{{/route}}">About</a></li>
                {{#__tpl_isloggedin}}
                    <li><a href="{{#route}}/login/logout{{/route}}">Logout</a></li>
                {{/__tpl_isloggedin}}
                {{^__tpl_isloggedin}}
                    <li><a href="{{#route}}/login{{/route}}">Login</a></li>
                {{/__tpl_isloggedin}}

            </ul>
            {{#__tpl_isloggedin}}
            <form class="navbar-form navbar-right" name="searchform" action="search.php" method="get">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
            {{/__tpl_isloggedin}}
        </div>
    </div>
</div>

{{#errors}}
<div class="alert alert-danger">
    {{ . }}<br>
</div>
{{/errors}}
{{#success}}
<div class="alert alert-success">
    {{ . }}<br>
</div>
{{/success}}
