{{> header }}

<div class="container-fluid text-center">
    <h2><a href="https://github.com/MarcusSchwarz/netmrg2">NetMRG2</a></h2>

    <h3>The Network Monitoring, Reporting, and Graphing Tool</h3>

    Version <b>{{version}}</b><br><br>

    Copyright &copy; 2003-2014
    <a href="http://www.maswaba.de" target="_blank">Marcus Schwarz</a>,
    based on the work of<br>
    <a href="http://brady.thtech.net">Brady Alleman</a>,
    <a href="http://www.silfreed.net/">Douglas E. Warner</a> and
    <a href="http://www.nivek.ws/">Kevin Bonner</a> until 2008.<br>

    <br>

</div>

<div class="container-fluid text-center">
    <h4>Special thanks to our other contributors</h4>

    <h5>Code</h5>
    Ryabkov (Rojer) Deomid has contributed many patches, fixing bugs that
    are difficult to reproduce.<br>
    <br>

    <h5>Suggestions and Comments</h5>
    <a href="http://home.raxnet.net/">Ian Berry</a>, the main developer
    of <a href="http://www.cacti.net/">Cacti</a>, has a lot of insight into
    graphing software which has helped this project.<br>
    <a href="http://www.haller.ws/">Patrick Haller</a> assisted with concurrency
    debugging in the original gatherer.<br>
    <br>

    <h5>Testing and Debugging</h5>
    The staff of <a href="http://www.ctinetworks.com/">CTI Networks, Inc.</a>
    was
    finding bugs in NetMRG long before the rest of the world knew about it.<br>

    <br>

</div>

<div class="container-fluid text-center">

    <h4>Licensing</h4>
    This project is licensed under the terms of the <a
        href="http://www.gnu.org/licenses/gpl.txt">GPL</a>, Version 2.


    <h4>NetMRG2 uses</h4>
    <ul>
        <li>
            <a href="https://github.com/bobthecow/mustache.php" target="_blank">Mustache.php</a>,
            made by <a href="http://justinhileman.info/">Justin Hileman</a>
        </li>
        <li>
            <a href="https://gist.github.com/jwage/221634" target="_blank">SplClassLoader.php</a>,
            made by <a href="https://github.com/jwage" target="_blank">Jonathan H. Wage</a>
        </li>
        <li>
            <a href="https://github.com/twbs/bootstrap" target="_blank">Bootstrap</a>,
            made by <a href="http://twitter.com/mdo" target="_blank">Mark Otto</a> and <a href="http://github.com/fat" target="_blank">Jacob Thornton</a>
        </li>
    </ul>

    <br>
</div>

{{> pagefooter}}
