{{> header }}

<div class="container">

        <form class="form-signin" role="form" method="post" action="{{#route}}/login{{/route}}">
        <h2 class="form-signin-heading">Please log in</h2>
        <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>

</div> <!-- /container -->

{{> footer }}
