{{> header }}
<div class="alert alert-danger text-center"><h1><span class="label label-danger">404</span> Page not Found</h1></div>

<div class="container-fluid text-center text-warning">
    <span class="glyphicon glyphicon-flash"></span>
This is not the graph you are looking for!
</div>

<div class="container-fluid text-center">
    Please use the back-button of your browser or continue <a href="{{#route}}/login{{/route}}">clicking here</a>.
</div>

{{>footer}}
