RewriteEngine on
RewriteRule ^index/(.*?)/(.*?)$ ../index.php?controller=$1&action=$2 [QSA,L] # This does not look right to me, but it works...
RewriteRule ^index/(.*?)$ ../index.php?controller=$1 [QSA,L] # This does not look right to me, but it works...
# index/controller/action/?vars
# rewrite to index.php?controller=controller&action=action&?
# index/controller/?vars
# rewrite to index.php?controller=controller&?
